@use "sass:map";

.newsletter {
  padding: 119px 0;
  background:map-get($colors, "br-new-color");
  
  &__wraper {
    @extend %flex-between;

    &-title {
      max-width: 330px;
      
      h6 {
        font-weight: map-get($font-weight, "bold");
        font-size: map-get($font-size, "lg");
        margin-bottom: 18px;
      }
      
      p {
        font-size: map-get($font-size, "md");
        font-family: $secondary-font-family;
        line-height: map-get($font-size, "xl");
      }
    }
    
    &-form label {
      padding-right: 14px;
    }
  }
  
 
  
}
