@media (max-width: 1200px) {
  .container {
    max-width: map-get($content-width, "lg");
  }
}

@media (max-width: 992px) {

  .container {
    max-width: map-get($content-width, "md");
  }


}

@media (max-width: 768px) {
  .container {
    max-width: map-get($content-width, "sm");
  }
  .start {
    padding: 25px 0;
    
    &__wraper-title {
      h6 {
        @include responsive-font(9px, 11px, 13px);
        margin-bottom: 10px;
      } 
      
      h3 {
        @include responsive-font(27px, 36px, 45px);
        margin-bottom: 7px;
      }
      
      p {
        @include responsive-font(9px, 11px, 13px);
        max-width: 376px;
        margin-bottom: 15px;
      }
    }
    
    &__wraper-controls {
      .btn {
        padding: 6px 8px;
      }
    }
  }

 


}

@media (max-width: 576px) {

}
