@media (max-width: 1200px) {
  .container {
    max-width: map-get($content-width, "lg");
  }
}

@media (max-width: 992px) {

  .container {
    max-width: map-get($content-width, "md");
  }

  .footer_author {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: map-get($content-width, "sm");
  }

  .footer {
    padding: 20px 0;

    &_author {
      text-align: center;
      margin-left: -15px;
    }
  }

  
}

@media (max-width: 576px) {

}
